@import "../utilities/functions";

$modal-background-background-color-dark: get-themed-variable(modal-background-background-color, dark) !default;

$modal-card-head-background-color-dark: get-themed-variable(modal-card-head-background-color, dark) !default;
$modal-card-head-border-bottom-dark: 1px solid get-themed-variable(border, dark) !default;

$modal-card-title-color-dark: get-themed-variable(modal-card-title-color, dark) !default;

$modal-card-foot-border-top-dark: 1px solid get-themed-variable(border, dark) !default;

$modal-card-body-background-color-dark: get-themed-variable(modal-card-body-background-color, dark) !default;

.modal-background {
  background-color: $modal-background-background-color-dark;
}

.modal-card-head,
.modal-card-foot {
  background-color: $modal-card-head-background-color-dark;
}

.modal-card-head {
  border-bottom: $modal-card-head-border-bottom-dark;
}

.modal-card-title {
  color: $modal-card-title-color-dark;
}

.modal-card-foot {
  border-top: $modal-card-foot-border-top-dark;
}

.modal-card-body {
  background-color: $modal-card-body-background-color-dark;
}