@import "../utilities/functions";

$tag-background-color-dark: get-themed-variable(tag-background-color, dark) !default;
$tag-color-dark: get-themed-variable(tag-color, dark) !default;

$tag-colors: $colors !default;


.tag:not(body) {
  background-color: $tag-background-color-dark;
  color: $tag-color-dark;

  // Colors
  @each $name,
  $pair in $tag-colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      background-color: $color;
      color: $color-invert;

      // If a light and dark colors are provided
      @if length($pair)>3 {
        $color-light: nth($pair, 3);
        $color-dark: nth($pair, 4);

        &.is-light {
          background-color: $color-light;
          color: $color-dark;
        }
      }
    }
  }


  &.is-delete {

    &:hover,
    &:focus {
      background-color: bulmaDarken($tag-background-color-dark, 5%);
    }

    &:active {
      background-color: bulmaDarken($tag-background-color-dark, 10%);
    }
  }
}